<footer>
    <div class="footer-content">
        <div class="footer-logo">
            <img src="/images/logo.png" alt="NaScon Logo">
        </div>
        <div class="footer-links">
            <div class="link-group">
                <h4>Event</h4>
                <a href="/about">About</a>
                <a href="/schedule">Schedule</a>
                <a href="/speakers">Speakers</a>
            </div>
            <div class="link-group">
                <h4>Resources</h4>
                <a href="/faq">FAQ</a>
                <a href="/venue">Venue</a>
                <a href="/past-events">Past Events</a>
            </div>
            <div class="link-group">
                <h4>Connect</h4>
                <a href="/contact">Contact</a>
                <a href="https://twitter.com/nascon">Twitter</a>
                <a href="https://linkedin.com/company/nascon">LinkedIn</a>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2023 NaScon. All rights reserved.</p>
    </div>
</footer>
</body>
</html>