<%- include('partials/header') %>
<link rel="stylesheet" href="/css/pages/landingPage.css">
<main>
    <div id="page1">
       
            <div id="title">
                <div id="nascon">
                    <h1>NaSCon</h1>
                    <h2>NATIONAL SOLUTIONS CONVENTION</h1>
                    <h4>NaSCon is an annual tech and business event by FAST-NUCES Islamabad,
                        <br>one of Pakistan’s largest inter-university competitions.</br>
                    </h4>
                </div>
                <div id="expertise">
                    <h3>Computing</h3>
                    <h3>Concerts</h3>
                    <span>and</span>              
                    <h3>Sporsts</h3>
                </div>
                <div id="box">
                    <a href="/login-register" class="getStartBtn">Get Started</a>
                </div>
            </div>
           
            <div id="movingBox">
                <div id="left"></div>
                <div id="movingLogos">
                    <img src="https://www.foodpanda.com/wp-content/uploads/2023/06/foodpanda_logo_2023.svg" alt="" decoding="async">
                    <img src="https://lazarev.kiev.ua/la24/wf.svg" alt="" decoding="async">
                    <img src="https://lazarev.kiev.ua/la24/pmi.svg" alt="" decoding="async">
                    <img src="https://lazarev.kiev.ua/la24/adweek.svg" alt="" decoding="async">
                    <img src="https://lazarev.kiev.ua/la24/awww.svg" alt="" decoding="async">
                    <img src="https://lazarev.kiev.ua/la24/rd.svg" alt="" decoding="async">
                    <img src="https://lazarev.kiev.ua/la24/webby.svg" alt="" decoding="async">
                </div>
           
                <div id="movingLogos">
                    <img src="https://lazarev.kiev.ua/la24/forbes.svg" alt="" decoding="async">
                    <img src="https://lazarev.kiev.ua/la24/wf.svg" alt="" decoding="async">
                    <img src="https://lazarev.kiev.ua/la24/pmi.svg" alt="" decoding="async">
                    <img src="https://lazarev.kiev.ua/la24/adweek.svg" alt="" decoding="async">
                    <img src="https://lazarev.kiev.ua/la24/awww.svg" alt="" decoding="async">
                    <img src="https://lazarev.kiev.ua/la24/rd.svg" alt="" decoding="async">
                    <img src="https://lazarev.kiev.ua/la24/webby.svg" alt="" decoding="async">
                </div>
                <div id="right"></div>
           </div>
    
       
    </div>
</main>

